@use 'variables.scss';

body {
    /* 
        Setting up some global rules for the webpage : 

        - default font-family to use for all text
        - default text-color and size
        - remove default margins of the body element
    */

    font-family: 'Open Sans', sans-serif;

    color: variables.$text-dark-gray;
    font-size: variables.$font-size-normal;
    margin: 0;
}

a {
    /*
        Getting rid of default formatting for <a> elements. `inherits` tells that
        `a` elements should use the value set on its parent for these properties.
    */
    text-decoration: inherit;
    color: inherit;
}


.top-header {
    /* 
        My solution to display the children block elements horizontally instead of the 
        default vertical, with flexibility in the way to arrange them. 

        Other possible solutions are : using `float: left`, using `display: inline-block',
        using CSS grid.
    */ 
    display: flex;


    .left-placeholder, .right-placeholder {
        flex-grow: 1;
    }

    .right-placeholder {
        background-color: variables.$background-lightgray;
    }


    .top-header-content {
        width: variables.$main-content-width;
        display: flex;
        background-color: variables.$background-lightgray;
    }

    .logo {
        height: 130px;
        width: 190px;
        background-color: white;
        
        img {
            /* Center the image horizontally in the container */
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .nav-menu {
        display: flex;
        /* flex positionning of children */
        align-items: end;
        justify-content: center;
    
        /* flex property of this element, relative to its parent,
        asking to take the whole available width in the parent */
        flex-grow: 1;
    
        padding-bottom: 15px;

        .menu-item {
            font-size: variables.$font-size-normal;
            font-weight: 700;
            color: variables.$text-dark-gray;
            margin-right: 30px;

            &.active, &:hover {
                color: variables.$medium-purple;
            }
        }
    }
}


.title-banner {
    background-color: variables.$dark-purple;

    h1 {
        margin: 0;
    }

    .header-content {
        width: variables.$main-content-width;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        color: white;

        .left-placeholder {
            width: 190px;
            background-color: variables.$medium-purple;
        }

        .right-header-content {
            padding: 40px;

            h1 {
                font-size: variables.$font-size-large;
                font-weight: 400;
                margin-bottom: 20px;
            }

            .subtitle-menu {
                font-size: variables.$font-size-small;

                .delimiter, .menu-item:hover, .menu-item.active{
                    color: variables.$light-purple;
                }
            }
            
        }
    }
}


.page-content {
    width: variables.$main-content-width;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;

    display: flex;

    .left-panel {
        width: 66.66%;
        padding-right: 30px;
        line-height: 2em;
    }

    .right-panel {
        width: 33.33%;
        padding-left: 30px;
    }

    h2 {
        font-size: variables.$font-size-large;
        font-weight: 400;
        margin-top: 0;
    }

    .content-menu {
        .menu-item {
            color: variables.$text-light-gray;
            display: block;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        hr {
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-color: #CCCCCC;
        }
    }
}
